*~
.metadata
.zip
.DS_Store
www/uploads/*

www/application/cache/*
!www/application/cache/index.html
!www/application/cache/.htaccess

www/application/logs/*
!www/application/logs/index.html
!www/application/logs/.htaccess
/test.sublime-workspace

/www/application/config/installations/*.php
!/www/application/config/installations/default.php


#GitIgnore for docker stuff


docker/mysql/datadir/*
docker/logs/*

